section.especialidades {
    padding: 40px 4%;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: var(--text-white-color);
    padding: 20px;
    max-width: 33.3%;
    text-align: justify;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px var(--border-hover-box);
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: var(--text-green-color);
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

@media screen and (max-width: 460px) {
    section.especialidades {
        padding: 40px 8%;
    }

    section.especialidades .flex {
        gap: 20px;
    }

    .especialidades .especialidades-box {
        max-width: 100%;
        margin-top: 20px;             
    }
}