section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;  
}

.topo-do-site .img-topo-site img {
    width: 80%;
    height: 80%;
    background-color: var(--background-color-button);
    border-radius: 30px;
    box-shadow: 0px 0px 10px var(--background-color-button);
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

.topo-do-site .txt-topo-site h1 {
    color:  var(--text-white-color);
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: var(--text-green-color);
}

.topo-do-site .txt-topo-site p {
    color: var(--text-white-color);
    margin: 40px 0px;
}

@keyframes flutuar {
    0% {
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESPECIALDADES */

section.especialidades {
    padding: 40px 4%;
    margin-top: 200px;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: var(--text-white-color);
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px var(--border-hover-box);
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: var(--text-green-color);
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* FIM ESPECIALIDADES */
/*  SOBRE */

section.sobre {
    padding: 40px 4%;
}

.sobre .txt-sobre{
    color: var(--text-white-color);

}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: var(--text-green-color);
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.img-sobre img{
    width: 100%;
    border-radius: 50%;
    background-color: var(--background-color-button);
}

/* FIMSOBRE */